<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/logocedim.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Especialidades y Cobertura | Consultorio CEDIM</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <nav>
        <label class="logo">Consultorio CE.DI.M.</label>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">  
            <i class="fa fa-bars"></i>
        </label>
    
        <div class="menu">
            <div class="borde">
                <a href="index.html">Home</a>
                <a class="on" href="especialidades.html">Cobertura y Especialidades</a>
                <a href="turnos.html">Turnos</a>
                <a href="contacto.html">Contacto</a>
            </div>
        </div>
    </nav>
    <div class="contenido">



        <header>
            <img class="logoimg" src="/img/logohd.PNG" alt="Logo Ce.Di. M">
            
            <h1>Ce. Di. M. <br> Centro de diagnóstico para la mujer</h1>
        
        </header>
        <main>
            <div class="carrousel" data-carrousel>
                <button class="carrousel-button prev" data-carrousel-button="prev">&#11164;</button>
                <button class="carrousel-button next" data-carrousel-button="next">&#11166;</button>
                <ul data-slides>
                    <li class="slide" data-active>
                        <img src="/img/traumato.JPG" alt="traumatología">
                        <div class="texto">
                            <h3>Traumatología</h3>
                            Dr. Garavaglia, Maximiliano
                        </div>

                    </li>
                    <li class="slide">
                        <img src="/img/cardio.JPG" alt="Cardiología">
                        <div class="texto">
                            <h3>Cardiología</h3>
                            Dr. García, Emilio
                        </div>
                    </li>
                    <li class="slide">
                        <img src="/img/gine.JPG" alt="Ginecología">
                        <div class="texto">
                            <h3>Ginecología, Obstetricia y Patología Mamaria</h3>
                            Dr Zantonini, Juan Pablo
                        </div>
                    </li>
                    <li class="slide">
                        <img src="/img/oftal.JPG" alt="Oftalmología">
                        <div class="texto">
                            <h3>Oftalmología</h3>
                            Dr Tsuruoka, Ricardo
                        </div>
                    </li>
                    <li class="slide">
                        <img src="/img/otorrino.JPG" alt="Otorrinolaringología">
                        <div class="texto">
                            <h3>Otorrinolaringología</h3>
                            Dr Gorno, Mario
                        </div>
                    </li>
                    <li class="slide">
                        <img src="/img/nutri.JPG" alt="Nutrición y obesidad">
                        <div class="texto">
                            <h3>Nutrición y obesidad</h3>
                            Lic. Zanotti, Lucía
                        </div>
                    </li>
                    <li class="slide">
                        <img src="/img/kinesio.JPG" alt="Kinesiología y Osteopatía">
                        <div class="texto">
                            <h3>Kinesiología y Osteopatía</h3>
                            Lic. Affre, Juan
                        </div>
                        
                    </li>
                    <li class="slide">
                        <img src="/img/neumo.JPG" alt="Neuomonología Infantil">
                        <div class="texto">
                            <h3>Neumonología Infantil</h3>
                            Dra. Lopez, Gisela
                        </div>
                    </li>
                    <li class="slide">
                        <img src="/img/terapia.JPG" alt="Estimulación Temprana y acompañante terapéutico">
                        <div class="texto">
                            <h3>Estimulación Temprana y acompañante terapéutico</h3>
                            Lic. Clericó, Vanesa
                            
                        </div>
                    </li>
                    <li class="slide">
                        <img src="/img/psico.JPG" alt="Psicología">
                        <div class="texto">
                            <h3>Psicología</h3>
                            Lic. Pilar, Nadia
                            
                        </div>
                    </li>
                    <li class="slide">
                        <img src="/img/psicopedag.JPG" alt="Psicopedagogía">
                        <div class="texto">
                        <h3>Psicopedagogía</h3>
                        Dra. Soveron, Nancy
                        </div>   
                    </li>
    
                    
                    
                </ul>
            </div>
           
        </main>
        <section class="espec">
            <div class="titulo">Cobertura</div>
            <div class="spec">
            <div class="bloque uno">
                <div>IOMA</div>
            </div>
            <div class="bloque dos">
                <div>Osmecon Esteban Echeverría</div>
            </div>
            <div class="bloque tres" >

                <div>Banco Provincia</div>
                
            </div>
            <div class="bloque cuatro">
                <div>Osmecon Salud - Lomas de Zamora</div>
            </div>
            
            </div>
            <div class="fondo">Consultar por especialidad</div>

        </section>
        <aside>
            <img src="/img/consultorio1.JPG" alt="consultorio" width="2fr">

        </aside>
       
        <footer class="nopad">
            <div class="pie">Centro de diagnóstico para la mujer - Derechos reservados</div> 
            <a class="onpag" href="https://www.instagram.com/consultoriocedim/"><img src="/img/instagram.svg" height="20px" alt="ig"> </a>
            <a class="onpag" href="mailto:turno.cedim@gmail.com"><img src="/img/gmail_icon.svg" alt="mail" height="20px"></a>
        </footer>

    </div>

   <script src="/js/calesita.js"></script> 

</body>
</html>

<a href='https://www.freepik.com/photos/high-resolution'>High resolution photo created by rawpixel.com</a>
<a href="https://www.freepik.com/photos/therapy">Therapy photo created by freepik</a>
<a href='https://www.freepik.com/vectors/doctor-consultation'>Doctor consultation vector created by freepik</a>
<a href='https://www.freepik.com/photos/massage-therapist'>Massage therapist photo created by javi_indy</a>
<a href='https://www.freepik.com/photos/teacher-kids'>Teacher kids photo created by pch.vector</a>
<a href='https://www.freepik.com/photos/medical-man'>Medical man photo created by jcomp</a>
<a href='https://www.freepik.com/photos/ear-doctor'>Ear doctor photo created by prostooleh</a>
<a href='https://www.freepik.com/photos/pediatrician'>Pediatrician photo created by prostooleh</a>
<a href='https://www.freepik.com/photos/spectacles'>Spectacles photo created by freepik</a>
<a href='https://www.freepik.com/photos/medical-equipment'>Medical equipment photo created by jcomp</a>
<a href='https://www.freepik.com/photos/family'>Family photo created by partystock</a>
<a href='https://www.freepik.com/photos/nutritionist'>Nutritionist photo created by freepik</a>





